body {
    color: white;
    background:rgb(1, 11, 14);
    margin: 0px;

}


header {
    border-bottom: solid 2px rgb(240, 231, 231);
    padding: 20px;
    font-size: 32px;
    color:rgb(42,129,228);
}

.chamada {
    background: #6ab2c9;
    padding-bottom: 80px;
    padding-top:80px;
    display: flex;
    justify-content: center;

}


.chamada-texto{
    margin-right:5%;
}